* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: rgb(206, 206, 206);
  --main-hover: rgb(129, 137, 148);
  --main-bg-color: rgb(31, 30, 30);
}
body {
  color: var(--main-color);
  position: relative;
  background: url("image/nick-nice-gPm8h3DS1s4-unsplash.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  transition: 0.5s;
}

/* ****** NAV ********* */
.login,
.fa-bars {
  transition: 0.3s;
}

nav {
  width: 100%;
  background-color: rgb(31, 30, 30);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 3em;
}

#logo {
  font-weight: lighter;
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

#nav-list {
  display: flex;
  align-items: center;
}

.login {
  padding: 5px 15px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 0.7em;
}

.login:hover {
  background-color: rgb(206, 206, 206);
  color: rgb(39, 39, 39);
}

#nav-list li {
  margin: 1.3em;
  list-style-type: none;
  cursor: pointer;
}

.portfolio:hover,
.about:hover {
  color: var(--main-hover);
}

.fa-bars {
  font-size: 1.5em;
  margin-left: 5em;
  cursor: pointer;
  padding: 0.3em;
}

.fa-bars:hover {
  color: var(--main-hover);
}

/* ********************* */

#login-user {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  margin-left: -10.5vw;
  top: 50%;
  margin-top: -30vh;
  transition: 0.8s;
}

/* LOGIN SQUARE ANIMATION */

.login-user-hide {
  transform: translateY(-130%);
  opacity: 0%;
}

.login-user-show {
  transform: translateY(0%);
  opacity: 100%;
}

/* ****************************** */

#user-form {
  background-color: var(--main-bg-color);
  padding: 20px;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

input {
  margin: 10px 0;
  height: 2.7em;
  text-align: center;
}

button {
  width: fit-content;
  padding: 4px 11px;
  margin-top: 10px;
  align-self: center;
}
